.header{
    background-color: #299BE4;
    padding: 16px 30px;
    
}

.header--right {
  text-align: right;
  margin-top: 10px;
}


.table thead{
    background-color: #4CAF50;
    color: white ;
    text-align: center;
}

.padding-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


table tbody tr td{
    text-align: center;;
}

table tfoot tr td{
    font-weight: bold;
    text-align: center;
}